body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

#green {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#orange {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#blue {
    grid-column: 3 / 4;
    grid-row: 2 / 4;;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}